.footer {
  background: #510be9; /* warna kuning */
  color: #111;
  padding: 40px 20px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start; /* biar mulai dari kiri */
  gap: 60px; /* jarak antar kolom */
  flex-wrap: wrap; /* biar responsif */
}

.footer-section {
  flex: 1;
  min-width: 280px; /* biar rapi di layar kecil */
  text-align: left;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer-address {
  font-size: 15px;
  margin-top: 10px;
  color: red;
  font-weight: 600;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 8px;
  font-size: 15px;
}

.footer-list a {
  color: #111;
  text-decoration: none;
}

.footer-list a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.social-icons img {
  width: 28px;
  height: 28px;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 14px;
  text-align: left;
}
