@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background: linear-gradient(120deg, #ffffff 60%, #e79e01 120%);
  font-family: "Poppins", sans-serif;
}

.login-card {
  background: #fff;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(255, 166, 0, 0.2);
  width: 380px;
  text-align: center;
  transition: transform 0.3s ease;
}

.login-card:hover {
  transform: translateY(-5px);
}

.login-card h1 {
  color: #111111;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.login-card h2 {
  color: #f8b500;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 0.95rem;
}

input:focus {
  border-color: #f8b500;
  outline: none;
  box-shadow: 0 0 5px rgba(248, 181, 0, 0.4);
}

.btn-login {
  width: 100%;
  background-color: #f8b500;
  color: rgb(20, 19, 19);
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.btn-login:hover {
  background-color: #ffcf00;
}

.divider {
  margin: 20px 0;
  color: #888;
  font-size: 0.9rem;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ccc;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.btn-google {
  width: 100%;
  background-color: #181717;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-google:hover {
  background-color: #f7f7f7;
}

.btn-google img {
  width: 20px;
  height: 20px;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
